.header {
	background-color: black;
}

.header__container {
	display: flex;
	align-items: center;
}

.header__logo {
display: block;	
/* padding: 14px 0; */
margin-right: 63px;

}

.header__logo_img {
	width: 80px;
	height: 53px;
}

@media (max-width: 1000px) {
	
}

@media (max-width: 640px) {
	
}

@media (max-width: 320px) {
	
}